<h1>What type of triangle do you have?</h1>
<h2>Enter the a side length of your triangle in each of the three fields below</h2>
<form action = "/triangle_type">
  <div class = "form-group">
    <label for='side1'></label>
    <input id='side1' name='side1' class='form-control' type='String'>
  </div>
  <div class = "form-group">
    <label for='side2'></label>
    <input id='side2' name='side2' class='form-control' type='String'>
  </div>
  <div class = "form-group">
    <label for='side3'></label>
    <input id='side3' name='side3' class='form-control' type='String'>
  </div>
  <button type='submit' class='btn-success'>Submit</button>
</form>
